body {
    background-color: #1d1e22;
}
h1 {
    color: #d4d4dc;
    font-size: 85px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;  
    font-weight: 100;
    width: 100%;
    float: left;
    letter-spacing: -5px;
    writing-mode: vertical-lr;
    position: fixed;
    margin-top: 75px;
    margin-left: 30px;
  
}
p {
    color: #feda6a;;
    font-size: 12px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;   
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 2px;
    position: relative;
    margin-top: 10px;
}
.buttons {
    text-align: center;
    width: 100%;
    position: fixed;
    
}
.button {
    background-color: #1d1e22;
    color: #d4d4dc;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0px;
    border: none;
    text-decoration: none;
    
}
.button:hover {
    color: #feda6a;
    cursor: pointer;
}
.main {
    color: #1d1e22;
    background-color: #d4d4dc;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    margin-top: 75px;
    margin-left: 150px; 
    padding: 75px;
}
.gif {
    overflow: hidden;
    display: inline-flex; 
    max-width: 400px;
    max-height: 300px;
}
