body {
    background-color: #1d1e22;
  animation: fadeInAnimation ease 5s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
/* vertical header */
h1 {
    color: #feda6a;
    font-size: 85px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;  
    font-weight: 100;
    width: 25%;
    float: left;
    letter-spacing: -5px;
    writing-mode: vertical-lr;
    position: fixed;
    margin-top: 140px;
    margin-left: 7%;
}
/* "how are you feeling" */
.subhead {
color: #feda6a;
font-size: 12px;
text-align: center;
font-family: 'IBM Plex Sans', sans-serif;   
font-weight: 100;
letter-spacing: 3px;
line-height: 2px;
position: relative;
margin-top: 5px;
}
/* modal text */
p {
    color: #1d1e22;
    font-size: 12px;
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;   
    font-weight: 100;
    letter-spacing: 0px;
    position: relative;
    margin-top: 10px;
}
/* button alignment */
.buttons {
    text-align: center;
    width: 100%;
    position: fixed;
}
/* button text */
.button {
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
    font-size: 1px;
    font-weight: 100;
    border-radius: 50%;
    
}
.button:hover {
background-color: #feda6a;
z-index: -1; /* behind icon */
transition: .3s; /* hover animation */
transform: scale(.9); /* hover animation */
outline: none;
border: none;
text-align: center;
padding: 2px;
box-shadow: 0 0 9px 4px #feda6a; /* glow */
text-shadow: 0 0 9px 4px #feda6a; /* glow */
}
/* main div */
.main {
    color: #1d1e22;
    background-color: #d4d4dc; 
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 10px;
    font-weight: 100;
    text-transform: uppercase;
    border-radius: 5px;
    width: 50%;
    height: 400px;
    margin-top: 140px;
    margin-left: 20%;
    padding: 75px; 
}
/* gif display */
.gif {
    overflow: hidden;
    display: inline-flex; 
    max-width: 400px;
    max-height: 400px;
}
/* splash page link */
a {
    color: #d4d4dc;
    font-size: 85px;
    font-family: 'IBM Plex Sans', sans-serif;  
    font-weight: 100;
    text-shadow: 10px 1px #feda6a;
    width: 50%;
    float: left;
    letter-spacing: -5px;
    writing-mode: vertical-lr;
    position: fixed;
    margin-top: 10px;
    margin-left: 10px; 
    text-decoration: none;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}  
@keyframes slidein {
    from {
      margin-left: 35%;
      width: 300%; 
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
/* bold text */
b {
    color: #1d1e22;
    background-color: #feda6a;
    font-size: 15px;
    text-transform: uppercase;
}
/* modal */
/* about link */
.about {
    background-color: transparent;
    color: #d4d4dc;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 0px;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: center;
    width: 100%;
    position: relative;
}
.about:hover {
    color: #feda6a;
    cursor: pointer;
}
.modal {
    display: none; /* hidden */
    position: fixed; 
    z-index: 1; /* pops up on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); /* opacity */
  }
  /* modal content */
  .modal-content {
    background-color: #d4d4dc;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #feda6a;
    width: 80%; 
  }
  
  /* close button */
  .close {
    color: #1d1e22;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #feda6a;
    text-decoration: none;
    cursor: pointer;
  }
/* responsive media screen */
  @media screen and (max-width:800px) {
    h1, .main, a {
      width:50%;